@import "libs"
@import "base"


.no-scroll
		overflow: hidden

.link
	display: flex
	align-items: center
	position: relative
	z-index: 1

	&::before
		content: ''
		width: 0
		transform: scale(0)
		transition: all .6s
		position: absolute
		bottom: 0
		width: 100%
		height: 2px
		background-color: $accent
		z-index: -1

	&:hover,
	&:focus
		&::before
			transform: scale(1)

	&--active
		&::before
			transform: scale(1) !important


.header
	position: fixed
	left: 0
	right: 0
	left: 0
	background-color: #fff
	z-index: 1001
	box-shadow: 0 0 5px 0 rgba($text, .3)

	&__container
		position: relative
		display: flex
		justify-content: space-between
		align-items: center

	&__logo
		display: flex
		align-items: center
		height: 100%

		img
			width: 100%
		
	&__nav
		display: flex
		align-items: center
		margin-right: 75px

		&:last-child
			margin-right: 0
		
		li
			margin-right: 45px
			font-weight: 700

			&:last-child
				margin-right: 0

		a
			@extend .link
			padding: 40px 0 35px

			span
				color: $accent

		svg
			margin-right: 7px
			fill: #444444

		&--info
			justify-content: flex-end

	&__info
		a
			@extend .link
			margin-right: 20px
			display: inline-block

	&__call
		text-transform: uppercase
		text-decoration: underline
		font-weight: 700


.nav
	display: flex
	justify-content: space-between
	align-items: center


.main
	padding-top: 135px
	overflow: hidden
	background-color: #f6f8f9

	&__filter
		display: flex
		justify-content: space-between
		align-items: flex-end
		flex-wrap: wrap
		margin-bottom: 10px

		p
			font-size: 16px

		label
			margin:
				right: 10px
				bottom: 0
			color: $text--light
			font-size: 16px

		select
			width: 75px
			height: 45px
			border-radius: 5px
			border: 2px solid $accent
			background-color: transparent
			outline: none
	
	&__btn
		display: flex
		justify-content: space-between
		align-items: center
		flex-wrap: wrap
		padding: 15px 0
		border-bottom: 1px solid #eceeee
		border-top: 1px solid #eceeee
		margin-bottom: 15px

		.btn
			margin-right: 15px

			&:last-child
				margin-right: 0


.object
	display: flex
	background-color: #fff
	border-radius: 5px
	padding: 20px
	margin-bottom: 20px
	box-shadow: 0 0 5px 0 rgba($text, .1)

	&:last-child
		margin-bottom: 0

	div
		&:last-child
			margin-bottom: 0

	&__wrap
		margin:
			right: 40px

	&__img
		display: block
		position: relative
		width: 460px
		height: 320px
		margin:
			bottom: 20px

		img
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			max-width: 100%
			border-radius: 5px

		&_label
			position: absolute
			top: 20px
			padding: 5px 30px
			border-radius: 5px
			box-shadow: 0 0 5px 0 rgba($text, .3)
			color: #fff
			line-height: 1

			&--green
				background-color: $green

			&--blue
				background-color: $blue

			&--purge
				background-color: $purple

			&--red
				background-color: $accent

			&--dark
				background-color: $text

			&--left
				left: -5px

			&--right
				right: -5px

	&__btn
		display: flex
		justify-content: space-between

		.btn
			width: 48%
			padding: 0

	&__content
		padding-top: 10px

		&_title
			display: block
			font-size: 20px
			font-weight: 800
			margin-bottom: 15px

		ul
			margin-bottom: 20px
			font-size: 16px

			li
				display: flex
				align-items: center
				margin-bottom: 10px

				&:last-child
					margin-bottom: 0

			p
				position: relative
				padding-left: 25px
				margin-right: 50px

				&:last-child
					margin-right: 0

			img
				position: absolute
				left: 0
				top: 3px
				margin-right: 5px

		&_text

			b
				display: block
				margin-bottom: 7px
				font-size: 16px
				color: $text
				letter-spacing: .5px

			p
				color: #878787
				line-height: 1.6


.pagination
	padding: 75px 0 65px
	width: 100%
	display: flex
	justify-content: center
	align-items: center

	&__step
		display: flex
		justify-content: center
		align-items: center
		border-radius: 5px
		margin-right: 5px
		width: 36px
		height: 36px
		background-color: #c6c6c6
		color: #fff
		font-size: 18px

		&:hover,
		&:focus
			transform: translate3d(2px, -5px, -15px)
			box-shadow: 0 0 5px 0 rgba($text--light, 1)
			color: #fff

		&--active
			background-color: $accent

			&:hover,
			&:focus
				box-shadow: 0 0 5px 0 rgba($accent, 1)

	&__prev,
	&__next
		position: relative
		display: flex
		align-items: center
		width: 20px
		height: 36px
		margin: 0 15px

		span
			position: relative
			display: block
			height: 2px
			width: 18px
			background-color: #c6c6c6
			transition: all .6s

			&::before
				content: ''
				position: absolute
				top: 50%
				transform: translate(0, -50%)
				border-bottom: 4px solid transparent
				border-top: 4px solid transparent
				transition: all .6s

	&__prev
		&:hover,
		&:focus
			span
				background-color: $accent
				&::before
					border-right: 4px solid $accent

		span
			&::before
				left: -5px
				border-left: 4px solid transparent
				border-right: 4px solid #c6c6c6
			
	&__next
		&:hover,
		&:focus
			span
				background-color: $accent
				&::before
					border-left: 4px solid $accent

		span
			&::before
				right: -5px
				border-left: 4px solid #c6c6c6
				border-right: 4px solid transparent


.footer
	background-color: #fff
	font-size: 16px

	&__container
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		align-items: center
		padding: 20px 15px
		border-top: 1px solid #fff

	a
		@extend .link
		color: $accent

	img
		margin-right: 5px
	
	&__right
		text-align: right
		font-size: 14px
		color: $text--light

		span
			display: block


.section
	background-color: #fff
	border-radius: 5px
	padding: 30px
	margin-bottom: 30px


.about

	iframe
		width: 100%
		height: 600px
		margin-bottom: 40px

	&__block
		width: 50%
		margin-bottom: 10px

		&:last-child
			margin-bottom: 0

		&_header
			position: relative
			padding: 20px 50px 20px 20px
			cursor: pointer
			line-height: 1
			font-weight: 700
			font-size: 16px
			font-weight: 700
			border-radius: 5px
			background-color: #f6f6f6

			span
				display: block
				width: 12px
				height: 12px
				position: absolute
				top: 50%
				right: 20px
				transform: translate(0, -50%) rotate(-135deg)
				border-top: 2px solid $text
				border-left: 2px solid $text
				transition: all .6s

		&_content
			padding: 15px 20px
			color: $text--light

	.active .about__block_header 
		background-color: $accent !important
		color: #fff !important

		span
			border-top: 2px solid #fff
			border-left: 2px solid #fff
			transform: translate(0, -40%) rotate(45deg)


.access
	
	&__price
		display: flex
		align-items: center
		flex-wrap: wrap
		margin-bottom: 40px

		&_item
			background-color: #f6f6f6
			padding: 30px 20px
			border-radius: 5px
			margin-right: 30px
			font-weight: 700
			width: 220px

			span, b
				display: block

			span
				font-size: 16px

			b
				font-size: 35px
				font-weight: 900
				letter-spacing: 1px

			&--blue
				background-color: $blue
				color: #fff

	&__info
		display: flex
		align-items: center
		flex-wrap: wrap
		margin-bottom: 40px

		&_item
			width: 25%
			margin-right: 5%
			padding-left: 65px
			position: relative
			color: $text--light
			line-height: 1.6
			
			&:last-child
				margin-right: 0

			img
				position: absolute
				top: 50%
				left: 0px
				transform: translate(0, -50%)
				width: 50px
				height: auto


.profile
	&__form
		display: flex
		justify-content: space-between
		align-items: center
		flex-wrap: wrap
		max-width: 700px

		&_line
			width: 47%
			margin-bottom: 25px

		label
			font-size: 16px
			font-weight: 700
			margin-bottom: 10px

		&_block
			border-radius: 5px
			background-color: #f6f6f6
			padding: 25px
			width: 100%
			margin-bottom: 30px

			b
				color: $text
				font-size: 16px !important

			p
				color: $text--light
				margin-bottom: 15px

				&:last-child
					margin-bottom: 0

		&_uppercase
			text-transform: uppercase

		&_checkbox
			display: flex
			flex-wrap: wrap
			align-items: center
			margin-bottom: 15px

			label
				margin-right: 40px


.project

	&__content
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		width: 100%
		margin-bottom: 50px
		font-size: 16px

		h2
			font-weight: 900

		&_slider
			width: 55%

			img
				max-width: 100%
				width: 100%
				border-radius: 5px
				z-index: -1

		&_info
			width: 40%

			&--line
				display: flex
				align-items: center
				flex-wrap: wrap
				margin-bottom: 20px

				img
					margin-right: 5px

			span
				color: $text--light

			ul
				margin-bottom: 25px

			li
				position: relative
				margin-bottom: 10px
				padding-left: 25px

				&:last-child
					margin-bottom: 0

				img
					position: absolute
					top: 50%
					left: 0
					transform: translate(0, -50%)

		&_btn
			margin-bottom: 25px

		&_label
			display: inline-block
			padding: 5px 30px
			border-radius: 5px
			box-shadow: 0 0 5px 0 rgba($text, .3)
			font-size: 14px
			color: #fff
			line-height: 1
			margin-right: 30px

			&--green
				background-color: $green

			&--blue
				background-color: $blue

			&--purge
				background-color: $purple

			&--red
				background-color: $accent

			&--dark
				background-color: $text
		
		&_form
			p
				margin-bottom: 10px

			&--btn
				display: flex
				justify-content: flex-end

	&__info
		display: flex
		margin-bottom: 30px

		ul
			display: flex
			justify-content: space-between
			align-items: center
			flex-wrap: wrap
			width: 100%

		li
			display: flex
			align-items: center
			width: 47%
			margin-bottom: 8px

		span
			color: $text--light
			margin-right: 5px

		&_list,
		&_future
			max-width: 500px
			width: 100%

		&_future

			img
				margin-right: 5px

		&_list
			li
				&::before
					content: ''
					display: block
					width: 8px
					height: 8px
					margin-right: 10px
					border-radius: 50%
					background-color: $accent

	&__description
		width: 50%

		p
			margin-bottom: 15px
			font-size: 16px
			color: $text--light

			&:last-child
				margin-bottom: 0

		b
			color: $text

		iframe
			height: 320px
			width: 100%
			margin-bottom: 45px
	
	&__top
		margin-bottom: 15px

		.swiper-button-disabled
			opacity: .7

	&__thumbs
		.swiper-slide-thumb-active
			&::before
				content: ''
				position: absolute
				right: 0
				left: 0
				top: 0
				bottom: 0
				display: block
				background-color: rgba($accent, .5)

	&__pagination
		color: #fff
		font-weight: 700
		text-align: right
		padding: 0 20px
		bottom: 20px

	&__next,
	&__prev
		width: 30px
		height: 50px
		background-color: rgba(#fff, .7)
		transition: all .6s

		&:after
			display: none

		span
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -40%)
			display: block
			width: 15px
			height: 2px
			background-color: $text
			transition: all .6s

			&::before
				content: ''
				display: block
				position: absolute
				top: 50%
				transition: all .6s

		&:hover,
		&:focus
			background-color: $accent

			span
				background-color: #fff
	
	&__next
		right: 0

		&:hover
			span
				&::before
					border-left: 3px solid #fff


		span
			&::before
				left: 100%
				transform: translate(0, -50%)
				border-bottom: 3px solid transparent
				border-left: 3px solid $text
				border-right: 3px solid transparent
				border-top: 3px solid transparent

	&__prev
		left: 0

		&:hover
			span
				&::before
					border-right: 3px solid #fff

		span
			&::before
				right: 100%
				transform: translate(0, -50%)
				border-bottom: 3px solid transparent
				border-left: 3px solid transparent
				border-right: 3px solid $text
				border-top: 3px solid transparent
	


@import "media" // Always at the end